@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Roboto&display=swap');
  :root{
    --primary: #F2C94C;
    --black: #333333;
    --width-break: 600px;
   }
   body{
     margin: 0;
     font-family: 'Montserrat', sans-serif;
     font-family: 'Roboto', sans-serif;
     background-color:var(--primary) ;
     color: #333333;
   }

   /* heaing */
   .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
   }
   .heading-image{
    width: 4rem;
   }
   
   /*main*/
   main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
  
   /*input and ouput box */
  #txt-input, #output{
    width: 50%;
    height: 20vh;
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin:1rem 0rem ;
    background-color:wheat;
  }

  /*button*/
  #btn-translate{
    font-size: 1.5rem;
    padding: 0.3rem 1.3rem;
    border-radius: 0.5rem;
    margin: 1rem;
    background-color: var(--black);
    color: white;
  }
  #btn-translate:hover{
    background-color:rgb(89, 89, 228);
  }
  
  /*footer*/
  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.3rem;
    background-color: var(--primary);
  }
  .footer-info{
    font-size: 1.1rem;
    width: 90%;
    max-width: var(--width-break);
  }